src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>


	<!-- 	In this file you should declare all your inbound endpoints in order to control the access to your application -->

    <flow name="triggerFlow"  doc:description="The main entry to the report generation, which will aggregate Salesforce and SAP accounts together.">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/generatereport" doc:name="Start Report Generation"/>

        <flow-ref name="mainFlow" doc:name="Trigger main flow"/>

    </flow>
    <flow name="outboundFlow" >
        <set-attachment attachmentName="${attachment.name}"   doc:name="Attach report to Email" contentType="text/plain" value="#[payload]"/>
        <set-payload value="${mail.body}" doc:name="Set Payload"/>
        <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" connector-ref="gmailConnector" to="${mail.to}" from="${mail.from}" subject="${mail.subject}" responseTimeout="10000" doc:name="Send mail"/>
        <remove-attachment attachmentName="${attachment.name}" doc:name="Remove attachment"/>
    </flow>
</mule>
